@import "../../styles/variable";

.dropdown {
  padding: 0;

  .list {
    background-color: transparent;
    padding: 7px 17px;
    border-radius: 1.5px;
    border: none;
    outline: 1px solid $textColor;
    color: $textColor;
    font-size: 1em;
    cursor: pointer;

    .item {
      background-color: #aaa;
    }
  }
}
