@import "../../../styles/mixins";
@import "../../../styles/variable";

.middlePart {
  padding-bottom: 95px;
  width: 100%;
}
.centerPart {
  padding: 20px 16px;
  margin: 0 auto 15px;
  max-width: 978px;
  box-sizing: border-box;
}
.planForm {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
.stepHeaderContainer {
  padding: 0 16px;
  .stepHeader {
    display: inline-block;
  }
}
.stepIndicator {
  text-align: inherit;
  font-size: 13px;
  display: block;
  line-height: 27px;
}
.title {
  font-size: 32px;
  display: inline-block;
  font-weight: 700;
  margin: 0 0 0.4em;
}
.changeAnytime {
  padding: 0 16px;
  margin-bottom: 20px;
}
.listGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 0 10px;

  .listItem {
    display: inherit;
    list-style: none;
    margin-top: 5px;
    align-items: center;
  }
  .listSpan {
    padding: 5px 7px;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}

.bottomTable {
  margin-top: 30px;
  padding: 0 150px 0 16px;
  color: #737373;
  font-size: 13px;
  display: block;
  .bottomTableContent {
    letter-spacing: 0.1px;
  }
}
