@mixin centerStuff {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border_outline {
  border: none;
  outline: none;
}

@mixin svgStyle($transform) {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: $transform;

  height: 1em;
  width: 1em;
  fill: $textColor;
}

@mixin footer($background) {
  background-color: $background;
  padding: 50px 45px;
}
