* {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  color: rebeccapurple;
  font-size: larger;
}

.topContainer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.651)), to(rgba(0, 0, 0, 0.562))), url("../images/cover.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.562)), url("../images/cover.jpg");
  height: 95vh;
  width: 100%;
}

.topContainer .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 5rem;
}

.topContainer .navbar .logo {
  width: 12rem;
  height: 3.5rem;
}

.topContainer .navbar .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topContainer .navbar .buttons .dropdown {
  padding: 0 30px;
}

.topContainer .navbar .buttons .dropdown .list {
  background-color: #0d0c0d;
  padding: 7px 17px;
  border-radius: 1.5px;
  border: none;
  outline: 1px solid white;
  color: white;
  font-size: 0.875rem;
}

.topContainer .navbar .buttons .dropdown .list .item {
  background-color: #aaa;
}

.topContainer .navbar .buttons .signinButton {
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
}

.topContainer .topTitle {
  padding: 80px 0;
  margin: auto;
  text-align: center;
  color: white;
  width: 50%;
}

.topContainer .topTitle h1 {
  font-size: 4rem;
}

.topContainer .topTitle h2 {
  font-weight: 500;
}

.topContainer .topTitle h3 {
  font-weight: 300;
}

.topContainer .topTitle .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.topContainer .topTitle .searchbar .inputbox {
  border: none;
  outline: none;
  width: 70%;
  padding: 25px 10px;
}

.topContainer .topTitle .searchbar .emailButton {
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  padding: 16px 0px;
  background-color: #e50914;
  font-size: 1.8rem;
  color: white;
  align-items: center;
}

.topContainer .topTitle .searchbar .emailButton::-webkit-input-placeholder {
  color: transparent;
}

.topContainer .topTitle .searchbar .emailButton:-ms-input-placeholder {
  color: transparent;
}

.topContainer .topTitle .searchbar .emailButton::-ms-input-placeholder {
  color: transparent;
}

.topContainer .topTitle .searchbar .emailButton::placeholder {
  color: transparent;
}
/*# sourceMappingURL=landing.module.css.map */