@import "../../styles/mixins";
@import "../../styles/variable";
.requestTitle {
  font-weight: 300;
  font-size: 1.15rem;
  text-align: center;
}
.searchbarDiv {
  @include centerStuff;
}
.searchbar {
  width: 75%;
  position: relative;
  height: 60px;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 10px;
  .inputbox {
    width: 100%;
    height: 100%;
    color: gray;
    padding: 20px 0 5px 10px;
    border: none;
    font-size: 20px;
    color: $defaultColor;
    background-color: $textColor;
    &:focus {
      outline: none;
    }
  }
  .inputLabel {
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    color: gray;
    pointer-events: none;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0px;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: all 0.1s ease;
    }
  }

  .labelContent {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.1s ease;
  }

  .inputbox:focus + .inputLabel .labelContent,
  .inputbox:valid + .inputLabel .labelContent {
    transform: translateY(-110%);
    font-size: 14px;
    font-weight: bold;
    left: 0px;
  }
  .inputbox:focus + .inputLabel::after,
  .inputbox:valid + .inputLabel::after {
    transform: translateX(0%);
  }
}
.emailButton {
  @include border_outline();
  @include centerStuff;
  width: 30%;
  padding: 18px 0px;
  background-color: $netflixColor;
  font-size: 1.8rem;
  color: $textColor;
  align-items: center;
  &::placeholder {
    color: transparent;
  }
}
