@import "../../styles/mixins";
@import "../../styles/variable";
.tableRow {
  @include centerStuff;
  border-bottom: 1px solid #ccc;
  min-height: 60px;
}
.rowElement {
  padding: 12px 16px;
  color: #333;
  width: 60%;
}
.rowDetail {
  @include centerStuff;
  color: #737373;
  font-weight: 700;
  width: 20%;
  padding: 12px 30px;
}
.planGrid {
  display: flex;
  justify-content: end;
  padding: 16px 0;
  .radioLabel {
    padding: 10px 30px;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + .radioContent {
    display: flex;
    vertical-align: end;
    background-color: $netflixColor;
    border-radius: 2px;

    width: 120px;
    height: 120px;
  }

  .radioContent {
    align-items: center;
    justify-content: center;
    color: $textColor;
    font-weight: 700;
    font-size: 17px;
  }
}

.table {
  width: 100%;
}
.bottomTable {
  margin-top: 30px;
  padding: 0 150px 0 16px;
  color: #737373;
  font-size: 13px;
  display: block;
  .bottomTableContent {
    letter-spacing: 0.1px;
  }
}
